@model IEnumerable<HRMWeb.DataModel.M_CandidateMasters>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="bg-primary h2" style="padding:5px;color:white;width:100%;">
        Candidate Masters Record
        <div class="btn btn-success float-right" style="padding:5px;color:white;"> @Html.ActionLink("Add Candidate", "Create", "CandidateMasters", null,new {@class="btn btn-success" })</div>
    </div>
    <table class="table table-active table-bordered table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesiredCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeySkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentCTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspectedCTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_CommonMasterTable.FieldValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_CompanyMasters.CompanyName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesiredCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesignationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeySkills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentCTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspectedCTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M_CommonMasterTable.FieldValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M_CompanyMasters.CompanyName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CandidateID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CandidateID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CandidateID })
                </td>
            </tr>
        }

    </table>
</div>
