@model HRMWeb.DataModel.M_EmployeeMasters

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="border shadow pb-4">
    <h2 class="bg-primary text-white p-1 pl-3">Employee Masters Delete</h2>
    <h3 class="pl-3 pr-3">Are you sure you want to delete this?</h3>
    <hr />
    <div class="dl-horizontal w-100 pl-3 pr-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.EmployeeName)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.Address)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.Address)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.City)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.City)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.State)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.State)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.PersonalEmailID)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.PersonalEmailID)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.CEmailID)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.CEmailID)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.ContactNo)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.ContactNo)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.EmergencyContactNo)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.EmergencyContactNo)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.DOB)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.DOB)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.DOJ)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.DOJ)
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.Department)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.Department)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.Active)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.Active)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.M_CommonMasterTable.FieldValue)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_CommonMasterTable.FieldValue)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.M_CommonMasterTable1.FieldValue)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_CommonMasterTable1.FieldValue)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.M_DesignationMaster.Designation)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_DesignationMaster.Designation)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.M_EmployeeMasters2.EmployeeName)
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_EmployeeMasters2.EmployeeName)
                </div>

            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <p class="text-right p-3">
            <input type="submit" value="Delete" class="btn btn-danger text-white" />
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-warning text-white" })
        </p>
    </div>
    }
</div>
