@model HRMWeb.DataModel.M_EmployeeMasters

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="border shadow pb-4">
    <h2 class="bg-primary text-white pl-3">Employee Masters Details</h2>
    <hr />
    <div class="dl-horizontal w-100 pl-3 pr-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.EmployeeName)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.Address)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.City)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.City)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.State)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.State)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @*@Html.DisplayNameFor(model => model.M_CommonMasterTable.FieldValue)*@ Nationality
                </div>

                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_CommonMasterTable.FieldValue)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @*@Html.DisplayNameFor(model => model.M_CommonMasterTable1.FieldValue)*@Gender
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_CommonMasterTable1.FieldValue)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.DOB)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.DOB)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.PersonalEmailID)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.PersonalEmailID)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.ContactNo)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.ContactNo)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.EmergencyContactNo)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.EmergencyContactNo)
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div style="margin:auto; text-align:left;">
                            <b>@Model.EmployeeID</b><br />
                            <img id='img-upload' src="@(Resources.HRMResources.ShowEmployeePicPath+Model.EmployeePic)" alt="@Model.EmployeeName" class="img-thumbnail" style="width:150px;height: 110px;border-radius: 5px;" />
                            <input type="file" id="imgInp" style="width:100%; display:none;" />
                        </div>
                    </div>
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.CEmailID)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.CEmailID)
                </div>                     
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.DOJ)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.DOJ)
                </div>

                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.Department)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.Department)
                </div>


                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.M_DesignationMaster.Designation)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_DesignationMaster.Designation)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @*@Html.DisplayNameFor(model => model.M_EmployeeMasters2.EmployeeName)*@ Manager Name
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.M_EmployeeMasters2.EmployeeName)
                </div>
                <div class="control-label font-weight-bold float-left">
                    @Html.DisplayNameFor(model => model.Active)
                </div>
                <div class="form-control-detail float-left">
                    @Html.DisplayFor(model => model.Active)
                </div>

            </div>
        </div>
        <p class="text-right">
            @Html.ActionLink("Edit", "Edit", "M_EmployeeMasters", new { id = Model.EmployeeID }, new { @class = "btn btn-primary text-white" })
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-warning text-white" })
        </p>
        <script>
            $(document).ready(function () {
                $(document).on('change', '.btn-file :file', function () {
                    var input = $(this),
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                    input.trigger('fileselect', [label]);
                });

                $('.btn-file :file').on('fileselect', function (event, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }

                });
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#img-upload').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#imgInp").change(function () {
                    readURL(this);
                });
            });
        </script>
    </div>
</div>
