@model HRMWeb.DataModel.M_DesignationMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="border shadow pb-4">
        <h2 class="bg-primary text-white p-1 pl-3">Designation Masters Details</h2>
        <hr />
        <div class="dl-horizontal w-100 pl-3 pr-3">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="TimeSheetLeave">
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.Designation)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.Designation)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.Description)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.OrderNo)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.OrderNo)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.ModifiedBy)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.ModifiedDate)
                        </div>
                        <div class="control-label font-weight-bold float-left">
                            @Html.DisplayNameFor(model => model.Active)
                        </div>
                        <div class="form-control-detail float-left">
                            @Html.DisplayFor(model => model.Active)
                        </div>
                        <p class="text-right">
                            @Html.ActionLink("Edit", "Edit","", new { id = "Model.DesignationID", @class = "btn btn-primary text-white" }) 
                            @Html.ActionLink("Back to List", "Index","", new { @class = "btn btn-warning text-white" })
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
