<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - HRM Kaushalya Technologies Application
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/all.css" rel="stylesheet" />*@
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/attendence.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-light static-top shadow pt-0 pb-0">
        <a class="navbar-brand mr-1 pt-0 pb-0" href="index.html">
            <div class="logo">
                <img src="~/Content/Images/Logo-XenialiQ-Small.png" />
            </div>
        </a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fa fa-navicon text-dark font-weight-bold"></i>
        </button>
            <div class="mdl-layout__header-row" style="position: absolute;right: 0;">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon bg-light" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search">
                        <label class="mdl-textfield__label" for="search">Enter your query...</label>
                    </div>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <li class="mdl-menu__item">About</li>
                    <li class="mdl-menu__item">Contact</li>
                    <li class="mdl-menu__item">Help</li>
                </ul>
            </div>
    </nav>

    <div id="wrapper">
        <ul class="sidebar navbar navbar-nav navbar-light bg-light">
            <!-- navbar-nav bg-light navbar-dark-->
            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", null, null)</li>
            <li class="nav-item">@Html.ActionLink("Dashboard", "Dashboard", "M_EmployeeMasters", null, null)</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @*<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">*@
                    Masters<span class="navbar-toggler-icon"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="#navbardrop">
                    <a class="dropdown-item" href="#">@Html.ActionLink("Master", "Index", "CommonMasterTable",null,null)</a>
                    <a class="dropdown-item" href="#">@Html.ActionLink("Designation", "Index", "DesignationMaster", null, null)</a>
                    <a class="dropdown-item" href="#">@Html.ActionLink("Project", "Index", "ProjectMaster", null, null)</a>
                    <a class="dropdown-item" href="#">@Html.ActionLink("Company", "Index", "CompanyMasters", null, null)</a>
                </div>
            </li>

            @*<li class="nav-item">@Html.ActionLink("Designation", "Index", "DesignationMaster")</li>*@
            <li class="nav-item">@Html.ActionLink("Employee", "Index", "M_EmployeeMasters", null, null)</li>
            <li class="nav-item">@Html.ActionLink("User Profile", "Details/" + (Session["LoginUserID"] as string), "M_EmployeeMasters")</li>
            <li class="nav-item">@Html.ActionLink("Attendance", "Index", "EmployeeAttendance", null, null)</li>
            <li class="nav-item">@Html.ActionLink("Apply Leave", "Index", "EmployeeLeave", null, null)</li>
            <li class="nav-item">@Html.ActionLink("Time Sheet", "Index", "EmployeeTimeSheetTable", null, null)</li>
            <li class="nav-item">@Html.ActionLink("Candidates", "Index", "CandidateMasters", null, null)</li>
            <li class="nav-item">@Html.ActionLink("Logout", "HRMLogOut", "Home", null, null)</li>
        </ul>

        <div id="content-wrapper">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
        <div class="panel-warning card-footer bg-light text-center p-2 m-0 w-100" style="position:fixed;left:0;right:0;bottom:0;">
            <p class="m-0"> @DateTime.Now.Year -  &copy;HRM Kaushalya Technologies Application </p>
        </div>
        <script src="~/Scripts/sb-admin.js"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
