@model HRMWeb.DataModel.T_EmployeeTimeSheetTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="border shadow pb-4">
    <h2 class="bg-primary text-white p-1 pl-3">Employee Time Sheet Details</h2>
    <hr />

    <div class="container-fluid">
        <div class="form-horizontal form-inline">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.M_ProjectMaster.ProjectCode)
                    </th>

                    <td>
                        :   @Html.DisplayFor(model => model.M_ProjectMaster.ProjectCode)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.M_EmployeeMasters.EmployeeName)
                    </th>

                    <td>
                        :   @Html.DisplayFor(model => model.M_EmployeeMasters.EmployeeName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkDate)
                    </th>

                    <td>
                        :   @Html.DisplayFor(model => model.WorkDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkingHours)
                    </th>

                    <td>
                        :   @Html.DisplayFor(model => model.WorkingHours)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkDescription)
                    </th>

                    <td>
                        :  @Html.DisplayFor(model => model.WorkDescription)
                    </td>
                </tr>
                <tr>
                    <th>
                        Work Type
                    </th>

                    <td>
                        :  @Html.DisplayFor(model => model.M_CommonMasterTable.FieldValue)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>

                    <td>
                        : @Html.DisplayFor(model => model.ModifiedDate)
                    </td>
                </tr>
            </table>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                    @Html.ActionLink("Edit", "Edit", "EmployeeTimeSheetTable", new { id = Model.TimeSheetID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Back to List", "Index", "EmployeeTimeSheetTable", null, new { @class = "btn btn-warning text-white" })
                </div>
            </div>
        </div>
    </div>
</div>
