@model IEnumerable<HRMWeb.DataModel.T_EmployeeTimeSheetTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_CommonMasterTable.FieldValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_EmployeeMasters.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M_ProjectMaster.ProjectCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_CommonMasterTable.FieldValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_EmployeeMasters.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_ProjectMaster.ProjectCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeSheetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeSheetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeSheetID })
        </td>
    </tr>
}

</table>
